<a href="https://colab.research.google.com/github/florise8/MY_FIRST_PYTHON/blob/main/Data_Structure_on_Python.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

DATA STRUCTURE & Types of Bracket Used:
* List [ ]
* Dictionary { }
* Tuple ( )
* Set { }

In [ ]:
# Example of list
# List of Integers
my_list = [2, 4, 6, 8, 10]
my_list

[2, 4, 6, 8, 10]

In [ ]:
# Example of list of strings
my_list = ["apple", "banana", "cherry", "date"]
my_list

['apple', 'banana', 'cherry', 'date']

In [ ]:
# Example of list mixed with integer and string
my_list = [11, "Apple", 250, "Banana", 3.4, True]
my_list

[11, 'Apple', 250, 'Banana', 3.4, True]

In [ ]:
# Class work
my_list = ['Python', 'Java', 'SQL', 'R', 'C++', 'PHP', 'html']
#index position 3
my_list[3]

'R'

In [ ]:
#index position 0
my_list = ['Python', 'Java', 'SQL', 'R', 'C++', 'PHP', 'html']
my_list[0]

'Python'

In [ ]:
#index position 1
my_list = ['Python', 'Java', 'SQL', 'R', 'C++', 'PHP', 'html']
my_list[1]

'Java'

In [ ]:
#index position of m in html
my_list = ['Python', 'Java', 'SQL', 'R', 'C++', 'PHP', 'html']
my_list[6][2]

'm'

In [ ]:
#index position of R
my_list = ['Python', 'Java', 'SQL', 'R', 'C++', 'PHP', 'html']
my_list[3]

'R'

In [ ]:
#index position of a in Java
my_list = ['Python', 'Java', 'SQL', 'R', 'C++', 'PHP', 'html']
my_list[1][1]

'a'

In [ ]:
my_list = ['Python', 'Java', 'SQL', 'R', 'C++', 'PHP', 'html']
my_list[-1][2]

'm'

DATA STRUCTURE ( LIST ) A list is a collection of ordered and changeable items

In [ ]:
my_list = [] # empty list

my_list = [1, 2, 3] # list of integers

my_list = [1, "Hello", 3.4]  # list with mixed datatypes

my_list = ["python", "java", "SQL", "C++"] # list of strings

In [ ]:
mylist2 = ['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']
mylist2

['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']

In [ ]:
# Adding Rejoice to my list
mylist2.append('Rejoice')

mylist2

['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David', 'Rejoice']

Remove Operation on My List

In [ ]:
# Removing an item from my list
mylist2.remove('Rejoice')

mylist2

['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']

Updating On My List

In [ ]:
# Updating an item in my list
mylist2[1]= 'Rejoice'
mylist2

['Mary', 'Rejoice', 'Kufre', 'Florence', 'Grace', 'David']

In [ ]:
# Changing David - spencer
mylist2[5]= 'Mr. Spencer'

mylist2

['Mary', 'Rejoice', 'Kufre', 'Florence', 'Grace', 'Mr. Spencer']

Returning a value back to a List

In [ ]:
# Returning Ogechi back to initial position
mylist2.insert(1,'Ogechi')
mylist2

['Mary', 'Ogechi', 'Rejoice', 'Kufre', 'Florence', 'Grace', 'Mr. Spencer']

In [ ]:
# Returning Ogechi back to initial position - Method 2
mylist2[1] = 'Ogechi'
mylist2

['Mary', 'Ogechi', 'Rejoice', 'Kufre', 'Florence', 'Grace', 'Mr. Spencer']

In [ ]:
# Adding David to the list
mylist2.append('David')
mylist2

['Mary',
 'Ogechi',
 'Lola',
 'Rejoice',
 'Kufre',
 'Florence',
 'Grace',
 'Mr. Spencer',
 'David']

Adding Excercises

In [ ]:
# Adding Shreddergang after Ogechi
mylist2 = ['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']
mylist2.insert(2, 'Shreddergang')
mylist2

['Mary', 'Ogechi', 'Shreddergang', 'Kufre', 'Florence', 'Grace', 'David']

In [ ]:
# Adding Rejoice to the list
mylist2.append('Rejoice')
mylist2

['Mary',
 'Ogechi',
 'Shreddergang',
 'Kufre',
 'Florence',
 'Grace',
 'David',
 'Rejoice']

In [ ]:
# Adding lola After Mary
mylist2.insert(1, 'Lola')
mylist2

['Mary',
 'Lola',
 'Ogechi',
 'Shreddergang',
 'Kufre',
 'Florence',
 'Grace',
 'David',
 'Rejoice']

In [ ]:
# Adding Nnah after Kufre
mylist2.insert(5, 'Nnah')
mylist2

['Mary',
 'Lola',
 'Ogechi',
 'Shreddergang',
 'Kufre',
 'Nnah',
 'Florence',
 'Grace',
 'David',
 'Rejoice']

In [ ]:
# Adding Dube after Florence
mylist2.insert(7, 'Dube')
mylist2

['Mary',
 'Lola',
 'Ogechi',
 'Shreddergang',
 'Kufre',
 'Nnah',
 'Florence',
 'Dube',
 'Grace',
 'David',
 'Rejoice']

In [ ]:
# Adding Ifeyinwa after Grace
mylist2.insert(9, 'Ifeyinwa')
mylist2

['Mary',
 'Lola',
 'Ogechi',
 'Shreddergang',
 'Kufre',
 'Nnah',
 'Florence',
 'Dube',
 'Grace',
 'Ifeyinwa',
 'David',
 'Rejoice']

In [ ]:
# Adding Onyeabo after David
mylist2.insert(11, 'Onyeabo')
mylist2

['Mary',
 'Lola',
 'Ogechi',
 'Shreddergang',
 'Kufre',
 'Nnah',
 'Florence',
 'Dube',
 'Grace',
 'Ifeyinwa',
 'David',
 'Onyeabo',
 'Rejoice']

In [ ]:
# Adding Eze after Rejoice
mylist2.insert(13, 'Eze')

mylist2

['Mary',
 'Lola',
 'Ogechi',
 'Shreddergang',
 'Kufre',
 'Nnah',
 'Florence',
 'Dube',
 'Grace',
 'Ifeyinwa',
 'David',
 'Onyeabo',
 'Rejoice',
 'Eze']

Delete Operation  on my List

In [ ]:
mylist2 = ['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']
del mylist2 [0]
mylist2

['Ogechi', 'Kufre', 'Florence', 'Grace', 'David']

Sorting on my list

In [ ]:
# Sorting in Asending Order
mylist2 = ['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']

mylist2.sort()

mylist2

['David', 'Florence', 'Grace', 'Kufre', 'Mary', 'Ogechi']

In [ ]:
# Sorting in Descending Order
mylist2 = ['Mary', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']

mylist2.sort(reverse=True)

mylist2

['Ogechi', 'Mary', 'Kufre', 'Grace', 'Florence', 'David']

Mathmatical Opertations

In [ ]:
Scores = [60, 90, 80,10, 60, 50, 20 ]
len(Scores)

7

In [ ]:
# Sum Operation
Scores = [60, 90, 80,10, 60, 50, 20 ]
sum(Scores)

370

In [ ]:
Scores = [60, 90, 80,10, 60, 50, 20 ]
max(Scores) # Max value in Scores

90

In [ ]:
# Minimum Value in scores
min(Scores)

10

Using Statistics Operation

In [ ]:
# Using Statistics to calculate Mean
import statistics as stat
stat.mean(Scores)

52.857142857142854

In [ ]:
# Using Statistics to calculate Median
Scores = [60, 90, 80,10, 60, 50, 20, 20, 40, 30 ]
stat.median(Scores)

45.0

In [ ]:
# Using Statistics to calculate Mode
Scores = [60, 90, 80,10, 60, 50, 20, 20, 40, 30 ]
import statistics as stat
stat.mode(Scores)

60

In [ ]:
#Using Statistics to calculate Standard Deviation
Scores = [60, 90, 80,10, 60, 50, 20, 20, 40, 30 ]
import statistics as stat
stat.stdev(Scores)

26.74987019698517

In [ ]:
#Using Statistics to calculate Variance
Scores = [60, 90, 80,10, 60, 50, 20, 20, 40, 30 ]
import statistics as stat
stat.variance(Scores)

715.5555555555555

DATA STRUCTURE (TUPLE) A tuple is a collection which is ordered and unchangeable.

In [ ]:
my_tuple = ('black', 'white', 'red', 'blue', 'green')
my_tuple

('black', 'white', 'red', 'blue', 'green')

In [ ]:
mytuple = ('Dan', 10, 10.5, True)
mytuple

('Dan', 10, 10.5, True)

In [ ]:
my_tuple[2]

'red'

In [ ]:
my_tuple[-1]

'green'

In [ ]:
tuple1 = ("a", "b" , "c")

tuple2 = (1, 2, 3)

tuple3 = tuple1 + tuple2     #join the two tuples by + operator

print(tuple3)

('a', 'b', 'c', 1, 2, 3)

In [ ]:
my_tuple = list(my_tuple) #changing mytuple to list

my_tuple

['black', 'white', 'red', 'blue', 'green']

In [ ]:
tuple2 =list(my_tuple) # adding colour yellow to my Tuple

tuple2.append('yellow')

my_tuple = tuple(tuple2)

my_tuple

('black', 'white', 'red', 'blue', 'green', 'yellow')

In [ ]:
tuple2 =list(my_tuple) # removing colour red

tuple2.remove('red')

my_tuple = tuple(tuple2)

my_tuple

('black', 'white', 'blue', 'green', 'yellow')

In [ ]:
tuple2 =list(my_tuple) # adding colour orange
tuple2.insert(2,'orange')
my_tuple = tuple(tuple2)
my_tuple

('black', 'white', 'orange', 'orange', 'blue', 'green', 'yellow', 'orange')

In [ ]:
# chanhing from list to tuple
my_tuple = list(my_tuple)
my_tuple

['black', 'white', 'orange', 'orange', 'blue', 'green', 'yellow', 'orange']

Turple Excercise

In [ ]:
#Create a tuple called "person" that contains a string "John" as a name,
#25 as an age and "male" as a gender.
tuple1 = ('John', 25, 'male')
tuple1[0]

'John'

In [ ]:
# changing age
tuple1 = ('John', 25, 'male')
list1 = list(tuple1)
list1[1] = 30
tuple1 = tuple(list1)
tuple1

DATA STRUCTURE ( SET ) A set is a collection with unordered and unindexed items.

In [ ]:
my_set = {'apple', 'banana', 'cherry', 'date'}
print(my_set)

{'cherry', 'apple', 'banana', 'date'}

In [ ]:
# adding to sets
my_set = {'apple', 'banana', 'cherry', 'date'}
my_set.add('orange')
my_set.add('Grapes')
my_set

{'Grapes', 'apple', 'banana', 'cherry', 'date', 'orange'}

In [ ]:
# Removing Banana
my_set = {'Grapes', 'apple', 'banana', 'cherry', 'date', 'orange'}
my_set.remove('banana')
my_set

{'Grapes', 'apple', 'cherry', 'date', 'orange'}

DATA STRUCTURE (Dictionary)
A dictionary is a collection of unordered, changeable and indexed items.

In [ ]:
prices = {'apple': 0.40, 'orange': 0.35, 'banana': 0.25}
prices

{'apple': 0.4, 'orange': 0.35, 'banana': 0.25}

In [ ]:
prices["avocado"] = 0.50
prices

{'apple': 0.4, 'orange': 0.35, 'banana': 0.25, 'avocado': 0.5}

In [ ]:
i = 1
while i < 6:
  print(i)
  i += 1

1
2
3
4
5

In [ ]:
i = 1
while i < 6:
  print(i)
  if i == 3:
    break
  i += 1

1
2
3