<a href="https://colab.research.google.com/github/florise8/MY_FIRST_PYTHON/blob/main/LOOP_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

LOOPS
* FOR
* While

In [ ]:
number = [1, 2, 3, 4, 5, 6]
for i in number:
    print(i * 3)

3
6
9
12
15
18

In [ ]:
students = ['lola', 'Oge', 'Kufre', 'Florence', 'Grace', 'David', 'Rejoice']
for j in students:
    print(f'{j} you are are welcome to Flaxwardens class, feel free to ask questions')

lola you are are welcome to Flaxwardens class, feel free to ask questions
Oge you are are welcome to Flaxwardens class, feel free to ask questions
Kufre you are are welcome to Flaxwardens class, feel free to ask questions
Florence you are are welcome to Flaxwardens class, feel free to ask questions
Grace you are are welcome to Flaxwardens class, feel free to ask questions
David you are are welcome to Flaxwardens class, feel free to ask questions
Rejoice you are are welcome to Flaxwardens class, feel free to ask questions

In [ ]:
# For loop in numbers
for i in range(100, 1001, 25): # for range 100 is the start, 1001 is the stop, 25 is the step
 if i % 2 == 0:
    print(i)

100
150
200
250
300
350
400
450
500
550
600
650
700
750
800
850
900
950
1000

In [ ]:
# For loop in Strings
fruits = ['Mango', 'Banana', 'Orange', 'Pawpaw', 'Apple']
for i in fruits:
    print(i)

Mango
Banana
Orange
Pawpaw
Apple

In [ ]:
fruits = ['mango'] # for loops
for i in fruits:
    print(i)

mango

In [ ]:
for i in 'banana':
 print(i)

b
a
n
a
n
a

In [ ]:
# Using For Loop in list
vowels = 'aeiou'
vowel_letter = []
consonants = []
word = input('Enter a word: ')

for i in word:
  if i in vowels:
    vowel_letter.append(i)
  else:
    consonants.append(i)

print(vowel_letter)
print(consonants)

In [ ]:
# Using strings and numbers in For Loops
values = ['Danny', 56.0, 45.7, 'Lucky', 23, 'Alpha', 4]
numbers = []
Strings = []
for i in values:
  if type(i) == str:
    Strings.append(i)
  else:
    numbers.append(i)
print(numbers)
print(Strings)

In [ ]:
# Using Dictionary in For Loop
ice_cream ={'Name': 'Rejoice', 'Scoops': 5, 'Flavour': ['Chocolate', 'Caramel', 'Mint', 'Vanilla', 'Strawberry']}
for i in ice_cream.values():
    print(i)

Rejoice
5
['Chocolate', 'Caramel', 'Mint', 'Vanilla', 'Strawberry']

In [ ]:
for key, value in ice_cream.items(): # to print both values and keys
    print(key, ':', value)

Name : Rejoice
Scoops : 5
Flavour : ['Chocolate', 'Caramel', 'Mint', 'Vanilla', 'Strawberry']

In [ ]:
# For Loop in Range
for i in range (10, 101, 10):
  print(i)
  if i == 60: # the condition
   break # to return all the numbers before if statement

10
20
30
40
50
60

In [ ]:
# print statements comes after continue.
for i in range(1, 115, 15):
  if i == 61:
    continue
  print(i)

In [ ]:
# Using the else statement in loop
students = ['lola', 'Oge', 'Kufre', 'Florence', 'Grace', 'David', 'Rejoice']

for j in students:
    print(f'{j} you are are welcome to Flaxwardens class, feel free to ask questions')
else:
    print('We hope you enjoy your learning experience')

NESTED LOOP

In [ ]:
# Nested loop
colour = ['Red', 'Blue', 'Purple', 'Black', 'Pink', 'Yellow']
fruits = ['Mango', 'Banana', 'Orange', 'Pawpaw', 'Apple']

for i in colour:
  for j in fruits:
    print(f'Have you seen a {i}, {j} fruit')
else:
  print('We hope you enjoy your fruits')

Have you seen a Red, Mango fruit
Have you seen a Red, Banana fruit
Have you seen a Red, Orange fruit
Have you seen a Red, Pawpaw fruit
Have you seen a Red, Apple fruit
Have you seen a Blue, Mango fruit
Have you seen a Blue, Banana fruit
Have you seen a Blue, Orange fruit
Have you seen a Blue, Pawpaw fruit
Have you seen a Blue, Apple fruit
Have you seen a Purple, Mango fruit
Have you seen a Purple, Banana fruit
Have you seen a Purple, Orange fruit
Have you seen a Purple, Pawpaw fruit
Have you seen a Purple, Apple fruit
Have you seen a Black, Mango fruit
Have you seen a Black, Banana fruit
Have you seen a Black, Orange fruit
Have you seen a Black, Pawpaw fruit
Have you seen a Black, Apple fruit
Have you seen a Pink, Mango fruit
Have you seen a Pink, Banana fruit
Have you seen a Pink, Orange fruit
Have you seen a Pink, Pawpaw fruit
Have you seen a Pink, Apple fruit
Have you seen a Yellow, Mango fruit
Have you seen a Yellow, Banana fruit
Have you seen a Yellow, Orange fruit
Have you seen a Yellow, Pawpaw fruit
Have you seen a Yellow, Apple fruit
We hope you enjoy your fruits

Excecise on Loops
* Write a program that adds 5 to all the numbers except 50 and 60

In [ ]:
for w in range(5, 101, 10):
  if w == 50 or w == 60:
    continue
  print(w + 5)

WHILE LOOP
* A while loop is  a loop that allows a set of code to run as long a the condition is true.
* Always define your incrementation

In [ ]:
# Example: print i as long as it is less than 6.
i = 1
while i < 20:
  print(i)
  i = i + 2

In [ ]:
# number range in While Loop
num = int(input('Enter a number: '))

while num < 10:
  print(num)
  print(f'{num} is less than 10')
  num = num + 1
else:
  print(f'{num} is not less than 10')

Enter a number: 23
23 is not less than 10

In [ ]:
# using the Break Statement in While Loop
w = 1
while w < 10:
  print(w)
  if w == 5:
    break
  w = w + 1
print('We are done')

In [ ]:
num = int(input('Enter a number: '))
while num < 15:
   print(num)
   if num == 13:
    break # using break on while loop
print('We are done')

Enter a number: 13
13
We are done

In [ ]:
# using continue on while loop
num = int(input('Enter a number: '))

while num < 15:
  num = num + 1
  if num == 11 or num == 13:
    continue
  print(num)

Exercise

In [ ]:
# print out all values between 30 and 70, and multiply them by 2
for w in range(30, 70, 1):
  print(w * 2)

60
62
64
66
68
70
72
74
76
78
80
82
84
86
88
90
92
94
96
98
100
102
104
106
108
110
112
114
116
118
120
122
124
126
128
130
132
134
136
138

In [ ]:
# print out the even numbers and odd numbers from the range of numbers ranging from 34 - 50
for i in range(34, 50):
  if i % 2 == 0:
    print(f'{i} is an even number')
  else:
    print(f'{i} is an odd number')

34 is an even number
35 is an odd number
36 is an even number
37 is an odd number
38 is an even number
39 is an odd number
40 is an even number
41 is an odd number
42 is an even number
43 is an odd number
44 is an even number
45 is an odd number
46 is an even number
47 is an odd number
48 is an even number
49 is an odd number

In [ ]:
# create a program that checks if a name is in a list of
# names [Sam, Mike, John, Phil, Neeno, Mark] If there, print found, if not there, print not found
x = ['Sam', 'Mike', 'John', 'Phil', 'Neeno', 'Mark']
name = input('Enter your name: ')
if name in x:
  print('Found')
else:
  print('Not Found')

Enter your name: John
Found

In [ ]:
# Write a program that runs the formular (i -3 + 4 * i)
# on each item in the numbers ranging from 10 to 20
numbers = range(10, 20)
i = input('Enter a number: ')
for i in numbers:
  print((i - 3 + 4 * i))

Enter a number: 50
47
52
57
62
67
72
77
82
87
92