<a href="https://colab.research.google.com/github/florise8/MY_FIRST_PYTHON/blob/main/MY_FIRST_PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
## THIS IS MY FIRST PYTHON CLASS

##THIS IS ME

In [ ]:
print('My Name is Florence Dube I am a student of Data Science')

My Name is Florence Dube I am a student of Data Science

In [ ]:
name = 'Florence Dube'
age = 20
job = 'Data Science'
print(name)
print(age)
print(job)
print(f'my name is {name} I am {age} years old and my job {job} ')

Florence Dube
20
Data Science
my name is Florence Dube I am 20 years old and my job Data Science

In [ ]:
name = input('Please enter your name:')
age = int(input('Please enter your age:'))
job= input('please enter your job')

print(f'my name is {name} I am {age} years old and my job is {job} ')

Please enter your name:Dave Egg
Please enter your age:18
please enter your jobDoctor
my name is Dave Egg I am 18 years old and my job is Doctor

In [ ]:
print('Welcome to Dube Scholarship Kindly fill out this information')

name = input('Please enter your Name')
Course = (input('Please enter your Course'))
School = input('Which of the schools do you attend')
School_Fees = float(input('How much is your school fees'))

print(f'my name is {name} I study {Course} at {School} my total school fees for this term is {School_Fees} ')

Welcome to Dube Scholarship Kindly fill out this information
Please enter your NameJohn Doe
Please enter your CourseData Science
Which of the schools do you attendIvy Academy
How much is your school fees120000
my name is John Doe I study Data Science at Ivy Academy  my total school fees this term is 120000.0

## Arithmetic Operators

* Addition ➕
* Subtraction  ➖
* Multiplication  *
* Division /
* Modulus %
* Exponentiation **
* Floor Division //item

In [ ]:
# variables used
x = 5
y = 3

In [ ]:
# Addition Illustration
result = x + y
print(result)

8

In [ ]:
# Subtraction Illustration
result = x - y
print(result)

2

In [ ]:
# Multiplication Illustration
result = x * y
print(result)

15

In [ ]:
# Division Illustration
result = x / y
print(result)

1.6666666666666667

In [ ]:
# Expontiation Illustration
result = x ** y
print(result)

125

In [ ]:
# Using input for Addition
firstnum = int(input('enter a number'))
secondnum = int(input('enter a number'))
result = firstnum + secondnum
print(result)

enter a number6
enter a number10
16

In [ ]:
# Using input for Subtraction
firstnum = int(input('enter a number'))
secondnum = int(input('enter a number'))
result = firstnum - secondnum
print(result)

enter a number90
enter a number20
70

In [ ]:
# Using input for Multiplication
firstnum = int(input('enter a number'))
secondnum = int(input('enter a number'))
result = firstnum * secondnum
print(result)

enter a number20
enter a number30
600

In [ ]:
# Using input for Division
firstnum = int(input('enter a number'))
secondnum = int(input('enter a number'))
result = firstnum / secondnum
print(result)

enter a number50
enter a number20
2.5

In [ ]:
# using round up in division
round(10/3,2)

3.33

In [ ]:
# Using input for Modulus
firstnum = int(input('enter a number'))
secondnum = int(input('enter a number'))
result = firstnum % secondnum
print(result)

enter a number10
enter a number15
10

In [ ]:
# Using input for Exponentiation
firstnum = int(input('enter a number'))
secondnum = int(input('enter a number'))
result = firstnum ** secondnum
print(result)

enter a number50
enter a number30
931322574615478515625000000000000000000000000000000

In [ ]:
# Using input for Floor Division
firstnum = int(input('enter a number'))
secondnum = int(input('enter a number'))
result = firstnum // secondnum
print(result)

enter a number100
enter a number40
2

In [ ]:
print('DEAR CUSTOMER, YOU ARE WELCOME TO IVY FARMS; KINDLY FILL OUT THIS FORM')
Customer_Name = input('Please enter your name: ')
CurrentYear = int(input('Please enter the current year: '))
Birthyear = int(input('Please enter your birthyear: '))
age = CurrentYear - Birthyear
print(f'Dear {Customer_Name} aged {age} ')
print('Thank you for Patronising IVY FARMS')

DEAR CUSTOMER, YOU ARE WELCOME TO IVY FARMS; KINDLY FILL OUT THIS FORM
Please enter your name: MILO
Please enter the current year: 2024
Please enter your birthyear: 2007
Dear MILO aged 17
Thank you for Patronising IVY FARMS

## COMPARISON OPERATORS
*   Equal to = =
*   Not Equal to /=
*   Greater Than
*   Less than
*  Graeter than equal to
* less than equal to

In [ ]:
# Equal to Opeartors
a = 5
b = 7
a == b

False

In [ ]:
# Not Equal to Operators
a!= b

True

In [ ]:
# Greater than Operators
a > b

False

In [ ]:
# Less than operators
a < b

True

## LOGICAL OPERATORS
* And (&): it combines two equations. it returns true
           if both statements are true.
* Or (|):  it returns true if one statement is true
* Not :    it reverses the result, it returns false if the result is true.

In [ ]:
# AND Operators
x = 3
x < 5 and x < 10

True

In [ ]:
#OR Operators
x < 5 or x > 4

True

In [ ]:
# NOT Operators
not(x>5 and x>10)

True

In [ ]:
# NOT OPerators
not(x<5 or x<10 )

False

In [ ]:
## Finding Data type Syntax
x = 5
y = 2.12
z = 'eat'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
#  changing float to int
a = float(x)
print(type(a))

<class 'float'>

In [ ]:
#  changing int to float
b = int(y)
print(type(b))

<class 'int'>

## STRING MANIPULATION

In [ ]:
# String Combination
print ('hello'+'world')

helloworld

In [ ]:
# String Combination with space
print ('hello'+' '+'World')

hello World

In [ ]:
# String Combination with names
firstname = 'Florence'
middlename = 'philo'
lastname = 'Dube'
fullname = (firstname + ' ' + middlename + ' ' + lastname)
print(fullname)

Florence philo Dube

In [ ]:
# String combination with input
firstname = input('Please enter your First Name')
middlename = input ('Please enter your Middle Name')
Lastname = input ('Please enter your Last Name')
fullname = (firstname+ middlename + Lastname)
print(fullname)

Please enter your First Name love
Please enter your Middle Name me
Please enter your Last Name now
 love me now

## String Slicing and Indexing

In [ ]:
# Using index Operation
Sentence = 'I am a girl and I love black'
Sentence[5]

'a'

In [ ]:
# Get letters that are on position 10, 15, 11
Sentence = 'I am a girl and I love black'
print(Sentence[7])
print(Sentence[9])
print(Sentence[10])
print(Sentence[11])
print(Sentence[15])

g
r
l

In [ ]:
# Slicing Operation
sentence = 'I am a girl and I love black'
sentence[1:6]

' am a'

In [ ]:
# Slicing Operation retriving love, black and colour
sentence = 'I am a girl and I love black colour'
print(sentence[18:22])
print(sentence[23:28])
print(sentence[29:35])

love
black
colour

In [ ]:
# knowing index position of letters
sentence = 'I am a girl and I love black colour'
sentence.index('r')

9

# NUMBER MANIPULATIONS

In [ ]:
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]

In [ ]:
# Return the last number
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[-1]

-78

In [ ]:
# Return all numbers from the third index position
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[2:]

[56, 1, 62, 43, 89, 0, 10, -78]

In [ ]:
# Return the 10th index item raised to power 2
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[9]**2

6084

In [ ]:
# Return all numbers before the last three
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[:-3]

[20, 76, 56, 1, 62, 43, 89]

In [ ]:
# Start from 3rd index and end at the second to last item
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[3:-2]

[1, 62, 43, 89, 0]

In [ ]:
# Return all numbers between 4th and 8th index position
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[4:8]

[62, 43, 89, 0]

In [ ]:
# Return all numbers except the last item
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[:-1]

[20, 76, 56, 1, 62, 43, 89, 0, 10]

In [ ]:
# Return all numbers except the first and last value
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
Value[1:9]

[76, 56, 1, 62, 43, 89, 0, 10]

In [ ]:
#return the modulus of numbers at index 5 and index 9, multiply the modulus by 10
Value = [20, 76, 56, 1, 62, 43, 89, 0, 10, -78]
print(Value[4]% Value[8]*10)

20

# Two Dimensions

In [ ]:
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]

In [ ]:
# Retrieve number 10
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]
numbers[1][3]

10

In [ ]:
# Retrieve numbers between 8 and 10
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]
numbers[1][1:3]

[8, 9]

In [ ]:
# Retrieve number 32
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]
numbers[2][2]

32

In [ ]:
# Retrieve number 9
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]
numbers[1][2]

9

In [ ]:
# Retrieve all the even numbers
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]
print(numbers[0][0], numbers[0][2], numbers[1][1], numbers[1][3], numbers[2][0], numbers[2][2])

2 4 8 10 4 32

In [ ]:
# Retrieve all the odd numbers
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]
print(numbers[0][1], numbers[0][3], numbers[1][0], numbers[1][2], numbers[2][1], numbers[2][3])

3 5 7 9 3 1

In [ ]:
numbers = [[2,3,4,5],[7,8,9,10],[4,3,32,1]]