<a href="https://colab.research.google.com/github/florise8/MY_FIRST_PYTHON/blob/main/Python_Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

FUNCTIONS
* def keyword function
* Lambda function

Def Keyword Function

In [ ]:
def Donut_Recipe (sugar, flour, Milk, Egg, yeast):
  return f'sugar: {sugar} cup, flour: {flour} cup, yeast: {yeast} Tpsn, Milk: {Milk} cup, Egg: {Egg} whole egg'

In [ ]:
Donut_Recipe(1, 2, 1/4, 1,1)

'sugar: 1 cup, flour: 2 cup, yeast: 1 Tpsn, Milk: 0.25 cup, Egg: 1 whole egg'

In [ ]:
def adder (a,b):
  result = a+b
  result = result*2
  return result

In [ ]:
adder(3, 5)

16

In [ ]:
def name(first_name, last_name, age):
  print(f'my name is {first_name} {last_name} I am {age} years old')

name('Florence', 'Dube', 35)

my name is Florence Dube I am 35 years old

In [ ]:
name('Oge', 'Francis', 40)

my name is Oge Francis I am 40 years old

ARBITARY ARGUMENTS

In [ ]:
#Arbitrary Arguments
def my_function(*kids): # asteric allows for multiple input
  print("My youngest child is " + kids[2]) # want to see the position of third child

my_function("Emil", "Tobias", "Linus")

My youngest child is Linus

In [ ]:
def my_cars(*car):
  print('my favourite car is: ' + car[0])

my_cars('Toyota', 'Benz', 'Audi')

my favourite car is: Toyota

In [ ]:
convert_temp(10)

50.0

FUNCTION THAT MULTIPLY NUMBERS

In [ ]:
def multi(x): # x can be any number
  return 5 * x

print(multi(3))
print(multi(5))
print(multi(9))

15
25
45

In [ ]:
def multiple(y):
  return 2 * y + 10

print(multiple(1))
print(multiple(2))
print(multiple(3))

12
14
16

FUNCTION AND LOOP

In [ ]:
Party_Guest = ['Lola', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David'] # using a List
def party(name):
  greet = f'{name}, You Are Welcome to Flax Warden Party'
  return  greet
for i in Party_Guest:
  print(party(i))

In [ ]:
wedding = ['joy', 'chi']
def event(n):
  greet = f'{n}, You Are Welcome to Our Wedding'
  return greet
for i in wedding:
  print(event(i))

joy, You Are Welcome to Our Wedding
chi, You Are Welcome to Our Wedding

In [ ]:
def add_plenty(*num): # to add as many numbers as possible
  answer = 0 # using for loop to add
  for i in num:
    answer = answer + i
  return answer

In [ ]:
add_plenty(34,45,12,24,32)

147

In [ ]:
def high_Low(num1, num2):
  if num1 > num2:
    return f'{num1} is greater than {num2}'
  elif num1 < num2:
    return f'{num1} is less than {num2}'
  else:
    return f'{num1} is equal to {num2}'

In [ ]:
high_Low(8, 4)

'8 is greater than 4'

In [ ]:
# convert Tempreture

def convert_temp(Tf, Tc):
  if Tc > 0:
   return (Tf - 32) * 5/9
  elif Tf > 0:
    return (Tc * 9/5) + 32
  else:
    return 'invalid input'

In [ ]:
convert_temp(0, 100)

-17.77777777777778

In [ ]:
high_Low(4, 8)

'4 is less than 8'

In [ ]:
high_Low(4, 4)

'4 is equal to 4'

In [ ]:
# write a funtion that returns the smallest of three numbers when written together
def smallest(a, b, c):
  if a < b < c:
    return f'{a} is the smallest number'
  elif b < a < c:
      return f'{b} is the smallest number'
  else:
    return f'{c} is the smallest number'

In [ ]:
smallest(11, 5, 1)

'1 is the smallest number'

Try and Except
when writin

In [ ]:
# Using try and Except
def divide (a, b):
  try:
    result = a / b
    return result

  except ZeroDivisionError: # defines your error message
      print('you cannot divide by zero')

In [ ]:
divide(25, 5)

5.0

In [ ]:
divide(4, 0)

you cannot divide by zero

In [ ]:
def number(x):
  try:
    result = x**2
    return result
  except TypeError: # helps define your error message
    print('you cannot square a string')

In [ ]:
number('rep')

you cannot square a string

In [ ]:
# There are 3 courses in a faculty,# Economics (HOD: Dr. Phillip)
                                   # Psychology (HOD: Prof. Dan)
                                   # Demography (HOD: Dr. Mike)
# Write a python function that takes the first and last name, course and tells you the name of the HOD for a chosen course.
# Output is (firstname, lastname, your HOD is HOD name.)

In [ ]:
course_lecturer = {'Economics': 'Dr. Phillip', 'Psychology': 'Prof. Dan', 'Demography': 'Dr. Mike'}
def get_lecturer(first_name, last_name, course):
  try:
    for key, value in course_lecturer.items():
      if key == course:
        print(f'{first_name} {last_name}, your HOD is {course_lecturer[course]}')
  except KeyError:
    print('course not found')

In [ ]:
get_lecturer('Florence', 'Dube', 'Demography')

Florence Dube, your HOD is Dr. Mike

LAMBDA FUNCTION

In [ ]:
#using a lamda function define a function that adds two numbers
add = lambda a,b: a+b

In [ ]:
add(14,6)

20

In [ ]:
greet_them = lambda name: print(f'Hello {name} how are you doing today?')

In [ ]:
greet_them('Florence')

Hello Florence how are you doing today?

In [ ]:
# using a loop with lambda
Party_Guest = ['Lola', 'Ogechi', 'Kufre', 'Florence', 'Grace', 'David']

greet_them = lambda name: f'Hello {name} how are you doing today?'

for i in Party_Guest:
  print(greet_them(i))

Hello Lola how are you doing today?
Hello Ogechi how are you doing today?
Hello Kufre how are you doing today?
Hello Florence how are you doing today?
Hello Grace how are you doing today?
Hello David how are you doing today?

In [ ]:
# Write a function that prints out negative values
negatives = lambda num: [i for i in num if i > 0]

negatives([12, -2, 3, -6, -8, 9, 10])

[12, 3, 9, 10]

In [ ]:
# write a lambda function that finds the sum of squares of 3 numbers
sum_of_squares = lambda x,y,z: x**2 + y**2 + z**2

print(sum_of_squares(2,4,6))

56

In [ ]:
sum_of_squares = lambda x,y,z: sum([x**2 , y**2 , z**2])

print(sum_of_squares(2,4,6))

56

In [ ]:
# write a lambda function that finds the sum of all the even numbers in a list
even_num = lambda x: sum(i for i in x if i % 2 == 0)

even_num([3, 4, 5, 6, 7, 8, 9, 1, 12])

30

Exercise

In [ ]:
# 1. Write a Python function that takes a number as a parameter and checks whether the number is even or odd.
def even_odd(num):
  if num % 2 == 0:
    return f'{num} is an even number'
  else:
    return f'{num} is an odd number'

for number in [1, 2, 3, 4, 5, 6, 7, 8, 9]:
  print(even_odd(number))

1 is an odd number
2 is an even number
3 is an odd number
4 is an even number
5 is an odd number
6 is an even number
7 is an odd number
8 is an even number
9 is an odd number

In [ ]:
# 2. Write a function that adds suffix 'ly' to every word
suffix = lambda word: word + 'ly'

In [ ]:
suffix('sad')

'sadly'

In [ ]:
# 3. Write a Python function that removes the even numbers from a list of numbers [2,4,33,5,77,8,66,34,55]
def remove_even_numbers(numbers):
   odd_numbers = []
   for num in numbers:
        if num % 2 != 0:
          odd_numbers.append(num)
   return odd_numbers

numbers = [2, 4, 33, 5, 77, 8, 66, 4, 55]
result = remove_even_numbers(numbers)
print(result)

[33, 5, 77, 55]

In [ ]:
# 4. Write a python function that calculates the grade of students in a class (below 40 = fail, between 40 and 60 = pass, above 70 = excellent)
def check_grade(grade):
    if grade <=  40:
        return  'fail'
    elif grade >= 40 and grade <= 60:
        return 'pass'
    elif grade >= 70:
        return  'excellent'
    else:
       return f'invalid input'

In [ ]:
check_grade(60)

'pass'

In [ ]:
# 5. Write a python function that asks user for age input, and classifies them according to: [0 - 10 = toddler, 11 - 20 = teenager, 20 - 30 = young adult, above 30 = adults]
def age_classification(age):
  if age >= 0 and age <= 10:
    return 'toddler'
  elif age >= 11 and age <= 20:
    return 'teenager'
  elif age >= 21 and age <= 30:
    return 'young adult'
  else:
    return 'adults'

In [ ]:
age_classification(10)

'toddler'

In [ ]:
# 6. Write a python function that multiplies all even numbers by 10, and deducts 20 from all odds numbers in the list[33,56,77,89,45,88,90,22,45,44,66,88,64,33,35]

def list_of_numbers (numbers):
    list_numbers = []
    for num in numbers:
        if num % 2 == 0:
            result = num * 10
            list_numbers.append(f'{result} is an even number')
        else:
            result = num - 20
            list_numbers.append(f'{result} is an odd number')

    return list_numbers

# Input list
numbers = [33, 56, 77, 89, 45, 88, 90, 22, 45, 44, 66, 88, 64, 33, 35]

# Print the result of the function
print(list_of_numbers(numbers))

['13 is an odd number', '560 is an even number', '57 is an odd number', '69 is an odd number', '25 is an odd number', '880 is an even number', '900 is an even number', '220 is an even number', '25 is an odd number', '440 is an even number', '660 is an even number', '880 is an even number', '640 is an even number', '13 is an odd number', '15 is an odd number']

In [ ]:
def greetings()
   print("hello there")
greetings()

SyntaxError: expected ':' (<ipython-input-1-7d5580df1abd>, line 1)